<!DOCTYPE html>
<html>

<head>
  <title>JiraWidget</title>
  <link rel="stylesheet" href="stylesheet.css" />
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css" />
</head>

<body>
  <div id="app">
    <!-- Logo -->
    <img id="jira-logo" src="./assets/jira.png" alt="Jira logo" />

    <!-- Config Error -->
    <div id="config-error" v-if="configErrors.length > 0">
      <p v-for="error in configErrors">{{ error }}</p>
    </div>

    <!-- Labels -->
    <div id="labels" v-else>
      <label-count v-for="label in config.labels" :name="label.name" :jql="label.jql" class="label" :key="label.name"
        :jira-base-url="config.jiraBaseUrl" :username="config.username" :password="config.password"
        :hide-when-zero="label.hideWhenZero" @count-updated="startResizeTimer" inline-template>
        <div @click="openJiraSearch" v-show="hideWhenZero == false || count > 0">
          <span class="label-name" :class="{'highlight-label': count > 0}">{{ name }}</span>
          <div class="count" v-show="this.updatingCount == false">{{ count }}</div>
          <span class="count mdi mdi-loading mdi-spin" v-show="this.updatingCount == true"></span>
        </div>
      </label-count>
    </div>
  </div>

  <script src="./node_modules/vue/dist/vue.js"></script>
  <script src="index.js"></script>
</body>

</html>